altair==5.2.0
appdirs==1.4.4
atomicwrites==1.4.0
autoviz==0.1.804
backports.weakref==1.0.post1
blinker==1.7.0
brotlipy==0.7.0
cachetools==5.3.2
category-encoders==2.6.3
clyent==1.2.1
conda==24.1.0
conda-repo-cli==1.0.75
conda-verify==3.4.2
cssselect==1.1.0
datashape==0.5.4
emoji==2.10.0
et-xmlfile==1.1.0
Faker==22.0.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.41
holoviews==1.14.9
hvplot==0.7.3
inflection==0.5.1
jsonpointer==2.1
munkres==1.1.4
mysql-connector-python==8.2.0
openpyxl==3.0.10
pandas-dq==1.29
patsy==0.5.3
pep8==1.7.1
plotly-express==0.4.1
ply==3.11
protobuf==4.21.12
pyamg==5.0.1
pyarrow==11.0.0
pyasn1-modules==0.2.8
pydeck==0.8.1b0
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
smmap==5.0.1
streamlit==1.31.0
textblob==0.17.1
tzlocal==5.2
validators==0.22.0
webencodings==0.5.1
wordcloud==1.9.3
xgboost==1.6.2
xlrd==2.0.1
scikit-learn==1.2.2
pandas==2.1.4
numpy==1.26.3
